node_modules
.DS_Store
dist
.visual/
*.local
.vite-inspect
.remote-assets
.slidev/
.idea/
components.d.ts
*/*.iml
# Throwaway deck copy written by scripts/test-annotation-editor.mjs
slides.annotation-editor-test.md
